<h1>Tweet Edit</h1>
<%= form_for(@tweet) do |f| %>
  <fieldset>
    <legend>Title</legend>
    <%= f.text_field :title, placeholder: 'My Cool Tweet', maxlength: 50 %>
  </fieldset>

  <fieldset>
    <legend>Body</legend>
    <%= f.text_area :message, rows: 10, cols: 45, placeholder: 'Lorem Ipsum...' %>
  </fieldset>

  <fieldset>
    <legend>User Id</legend>
    <%= f.text_field :user_id, placeholder: 'Make this be automatic Mike!' %>
  </fieldset>

  <p><%= f.submit "Publish Post" %></p>
<% end %>
