<!DOCTYPE html>
<html>
<head>
  <title>TwitterCloneAuth</title>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="main">
  <h1><%= link_to "Tweetz", root_path %></h1>
  <nav>
      |
      <%= link_to 'New Tweet', new_tweet_path %>
      |
      <%= link_to 'Tweetz', tweets_path %>
      |
      <%= link_to 'Sign Up', new_user_path %>
      |
      <% if logged_in? %>
        <%= link_to 'Logout', logout_path %>
      <% else %>
        <%= link_to 'Login', login_path %>
      <% end %>
      |
  </nav>
</header>

<%= notice %>
<%= alert %>
<div class='container'>
<%= yield %>
</div>
<footer>
  <%= params.inspect if Rails.env.development? %>
</footer>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
